#sheet1,
#sheet2{
	display: inline-block
}

.top{
	margin-top: 20px;
	margin-bottom: 10px;
}

#select1,
#select2{
	width:400px;
}

.button1{
	background-color: #9ACD32;
}
.button2{
	background-color: #E066FF;
}
.button3{
	background-color: #87CEEB;
}
.button4{
	background-color: #EE9A00;
}

.myActive{
	color:#555;background-color:#e7e7e7
}