#sheet1,
#sheet2{
	display: inline-block
}

.top{
	margin-top: 20px;
	margin-bottom: 10px;
}

#select1,
#select2{
	width:400px;
}

.button1{
	background-color: #7CFC00;
}
.button2{
	background-color: #E066FF;
}
.button3{
	background-color: #6959CD;
}
.button4{
	background-color: #EEEE00;
}